.video-container {
  padding-top: 0;
}

#video-background {
  padding-top: 0;
  width: 100%;
  height: 92vh;
  object-fit: cover;
  z-index: -1;
}

.about-us {
  padding: 10px 15%;
  background-color: rgb(231, 231, 231);
}

.amenities-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.amenities-item-icon {
  margin-bottom: 10px;
  font-size: 3rem;
}

#revive {
  width: 50%;
  height: 45%;
  background-color: black;
}

.amenities-container {
  padding-top: 30px;
  background-color: rgb(231, 231, 231);
}

.image-section {
  width: 100%;

  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-item {
  height: 800px;
}

.c-img {
  object-fit: cover;
}