header .nav-item:first-child{
  border-bottom: 3px solid grey;
}

.video-container {
  padding: 0;
}

#video-background {
  padding-top: 0;
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
  z-index: -1;
}

.about-us {
  padding: 10px 15%;
  background-color: rgb(231, 231, 231);
}

.amenities-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.amenities-item-icon {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.amenities-item p {
  font-size: 1rem;
}

#revive {
  width: 50%;
  height: 45%;
  background-color: black;
}

.amenities-container {  
  padding: 5px 5%;
  padding-bottom: 20px;
  background-color: rgb(231, 231, 231);
}

.image-section {
  width: 100%;

  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-item {
  height: auto;
  max-height: 700px;
}

.c-img {
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  .about-us {
    padding: 10px 10%;
  }

  .amenities-item-icon {
    font-size: 2rem;
  }

  .amenities-item p {
    font-size: 0.8rem;
  }
}