body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.nav-item {
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.nav-item:hover {
  border-bottom: 3px solid grey;
}

section {
  padding: 100px 5%;
}

