body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.nav-item {
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.nav-item:hover {
  border-bottom: 3px solid grey;
}

section {
  padding: 100px 5%;
}

.section-title {
  font-size: 3.5rem;
}

footer {
  background: white;
  color: black;
  max-width: 100%;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  margin: 20px;
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container i {
  font-size: 3rem;
  margin-left: 20px;
}

footer img {
  width: 6%;
  margin: 20px 20px;
}

footer p {
  width: max-content;
  font-size: 1.1rem;
  line-height: 1.9rem;
}
