header .nav-item:nth-child(3) {
  border-bottom: 3px solid grey;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-top: 20px;
}

.image-row {
  margin: 10px;
}

.gallery img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid grey;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1150px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
