footer {
  background-color: rgb(230, 229, 229);
}

.gallery {
  display: flex;
  justify-content: start;
}

.image-row {
  margin: 10px;
}

.gallery img {
  max-width: 100%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid grey;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
