header .nav-item:nth-child(2) {
  border-bottom: 3px solid grey;
}

section {
  padding-top: 30px;
}

.title-facilities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 5%;
}

.facilities-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: max-content;
}

.package-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  padding: 20px 10%;
}

.card {
  width: 95% !important;
  margin: 10px !important;
}

.btn {
  width: 100% !important;
}

@media screen and (max-width: 1100px) {
  .facilities-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .package-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .facilities-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .package-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 520px) {
  .facilities-container {
    display: none;
  }

  .package-container {
    padding: 20px 5%;
  }
}
